	
	
	*{
		font-size:12px;
		font-family: arial;
		margin: 0;
		padding:0;		
		text-shadow:1px 1px 1px #fff;
		color:#333;
	}
	p{
		padding:20px;
	}
	ul{
		padding:0px 40px 0 80px;
	}
	p, ul li{
		font-size:17px;
	}
	h1{
		font-size:23px;
		padding:20px;
	}
	body{
		margin:20px 150px 0 150px;
	}
	.pt_container{
		position: relative;
		min-width:100px;
		padding:14px;
		border:1px solid #ddd;
	}
	.pt_container .pt_controls{
		position: relative;
		float: right;
		clear: both;
		margin:4px;
	}
	.pt_container .odd {
		background: #FAFAFB;
	}
	.pt_container .even{
		background: #eeeeee;
	}
	.pt_container .pt_header{
		background-image:url('../images/sort_both.png');
		background-repeat:no-repeat;
		background-position:center right; 
	}
	.pt_container .pt_ascending {
		background-image:url('../images/sort_asc.png');
		background-repeat:no-repeat;
		background-position:center right; 
	}
	.pt_container .pt_descending {
		background-image:url('../images/sort_desc.png');
		background-repeat:no-repeat;
		background-position:center right; 
	}

	.pt_container .top_row {

		background-image: linear-gradient(bottom, rgb(221,221,221) 25%, rgb(187,187,187) 50%, rgb(221,221,221) 75%);
		background-image: -o-linear-gradient(bottom, rgb(221,221,221) 25%, rgb(187,187,187) 50%, rgb(221,221,221) 75%);
		background-image: -moz-linear-gradient(bottom, rgb(221,221,221) 25%, rgb(187,187,187) 50%, rgb(221,221,221) 75%);
		background-image: -webkit-linear-gradient(bottom, rgb(221,221,221) 25%, rgb(187,187,187) 50%, rgb(221,221,221) 75%);
		background-image: -ms-linear-gradient(bottom, rgb(221,221,221) 25%, rgb(187,187,187) 50%, rgb(221,221,221) 75%);
		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.25, rgb(221,221,221)),
			color-stop(0.5, rgb(187,187,187)),
			color-stop(0.75, rgb(221,221,221))
		);
	}
	
	.pt_container button{
		padding:4px;
		font-size: 10px;
		font-weight:bold;
	}
	.pt_container table{
		border-spacing: 0;
		border:2px solid #aaa;
	}
	.pt_container th, td{
		border:0;
		border-right:2px solid #aaa;
		margin: 0;
		padding:8px;
		text-align: left;
		position: relative;			
	}
	.pt_cell{
		position: relative;
		display: block;
	}
	.pt_container table{
		width:100%;
	}
	.pt_edit{
		position:absolute;
		z-index:2;
		display:block;
		top:-5px;
		left:-5px;
		min-width: 200px;
		border:3px solid #bbb;
		background: #ddd;
		padding:4px;
		box-shadow: 5px 5px 5px #444;
	}
	.pt_edit textarea{
		width:100%;
	}